doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    #topMenu
      #profile(class=title === 'Profil'  || title === 'Paramètres' ? 'active' : '')
        a(href="/profile"): i.far.fa-user
      #main(class=title === 'main' ? 'active' : '')
        a(href="/"): i.fas.fa-fire
      #messages(class=title === 'messages' ? 'active' : '')
        a(href="/messages"): i.far.fa-comments
    block content


    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")