doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')

  body
    #topMenu.row
      #profile(class=title === 'Profil'  || title === 'Paramètres' ? 'active' : '').col-md-4.col-sm-4.col-xs-4
        a(href="/profile"): i.far.fa-user
      #main(class=title === 'main' ? 'active' : '').col-md-4.col-sm-4.col-xs-4
        a(href="/"): i.fas.fa-fire
      #messages(class=title === 'messages' ? 'active' : '').col-md-4.col-sm-4.col-xs-4
        a(href="/messages"): i.far.fa-comments
    block content


    script(defer, src="https://use.fontawesome.com/releases/v5.0.6/js/all.js")