extends layout

block content
    section#settings
        div.card
            .demi-column.left
                span Afficher mon profil

            .demi-column.right.valign_middle
                label.switch
                    input#showMe(type="checkbox")
                    span.slider.round

        div.card